## Lists

1. Ask the user to enter 4 consecutive sides of a polygon. See if it is a square or rectangle, or neither.
If it is a square or rectangle, print the calculated area.

In [ ]:
first_side = int(input('First side of the polygon: '))
second_side = int(input('Second side of the polygon: '))
third_side = int(input('Third side of the polygon: '))
fourth_side = int(input('Fourth side of the polygon: '))

if first_side == second_side and first_side == third_side and first_side == fourth_side:
     print('Your polygon is a square.')
     area = first_side ** 2
     print(f'The area of the square is: {area}')
elif first_side == third_side and second_side == fourth_side:
     print('Your polygon is a rectangle.')
     area = first_side * second_side
     print(f'The area of the rectangle is: {area}')
else:
     print('The polygon is neither a square nor a rectangle.')

l1 = float(input('enter the measurement of side 1: '))
l2 = float(input('enter the measurement of height 1: '))
l3 = float(input('enter the measurement of side 2: '))
l4 = float(input('enter the measurement of height 2: '))
sum = 1

if l1 == l2 and l1 == l3 and l1 == l4:
   sum = l1 * l2
   print(sum)
elif l1 == l3 and l2 == l4:
   sum = l1 * l2
   print(sum)
else:
   print('It will not be calculated')

### Class Topics
- Lists
- Indexes
- Slicing
- List methods
- List iterations

Exam:
- 8 questions
- 5 alternative (justified)
- 3 programming questions
- Clears the issue if you use something not seen

### Lists

And if we want to make the program where the person types 10 numbers and we say the largest, can we do it?

What if we want the 2nd largest? What if we want the 5th?

We can solve it with **lists**
- Lists are collections of objects in Python and are expressed in `[]`

In [ ]:
counter = 0
largest_number = 0

while counter < 5:
   number = int(input('Enter a number: '))
   if number > largest_number:
     largest_number = number

   counter += 1

print(largest_number)

In [ ]:
print(list())
print(type(list()))

In [ ]:
print([])
print(type([]))

In [ ]:
empty_list = list()
empty_list_2 = []

print(type(empty_list))

In [ ]:
# We can create a list with any type of data
number = 10

integer_list = [1, 2, 3, number]
list_strings = ['lucas', 'faria', 'hermeto', 'lucas']
list_floats = [1.2, 2.2, 3.4, 5.4]
boolean_list = [True, False]
mixed_list = [1, 2.0, 'string', True]

print(integer_list)
print(list_strings)
print(list_floats)
print(boolean_list)

In [ ]:
# difference or similarity between array and list
list_list = [[1, 2, 4], ['lucas', 'faria', 'hermeto'], mixed_list]
print(list_list)
print(type(mixed_list))

In [ ]:
# Index, Salary, Name, Are you an Employee?
[[1, 2.0, 'string', True],
  [2, 1000, 'lucas', True]]

### Index

In [ ]:
number = 10
integer_list = [1, 2, 3, number]

In [ ]:
# index starts with 0
print(integer_list[0])
print(integer_list[1])
print(integer_list[2])
print(integer_list[3])

In [ ]:
integer_list[4]

In [ ]:
# Total number of elements != final index
# Total number of elements - 1 = final index
len(integer_list)

In [ ]:
# number = 10
# integer_list = [1, 2, 3, number]
print(len(integer_list))
print(len(integer_list) - 1)

print(integer_list[len(integer_list) - 1])

In [ ]:
final_index = len(integer_list) - 1

print('Final index: ', final_index)
print(integer_list[len(integer_list) - 1])
print('Final index element: ', integer_list[final_index])

In [ ]:
type(integer_list[final_index])

In [ ]:
mixed_list = [1, 2.0, 'string', True, []]

print(f'{mixed_list[0]} -> {type(mixed_list[0])}')
print(f'{mixed_list[1]} -> {type(mixed_list[1])}')
print(f'{mixed_list[2]} -> {type(mixed_list[2])}')
print(f'{mixed_list[3]} -> {type(mixed_list[3])}')
print(f'{mixed_list[4]} -> {type(mixed_list[4])}')

In [ ]:
# number = 10
# integer_list = [1, 2, 3, number]

print(integer_list[-1])
print(integer_list[-2])
print(integer_list[-3])
print(integer_list[-4])
# print(integer_list[-5]) -> error

In [ ]:
employee_1 = [1, 2.0, 'string', True]

all_employees = [employee_1,
                       [2, 1000, 'lucas', True]]

employee_2 = all_employees[1]

print(all_employees)
print(f'{all_employees[0]} -> {type(all_employees[0])}')
print(employee_1)
print(f'Employee salary 1: {all_employees[0][1]} -> {type(all_employees[0][1])}')

print(all_employees[-1])
print(employee_2)
print('Employee salary 2: ', employee_2[1])

In [ ]:
list_list_list = [[[1, 2], [2]], [[3], [4]]]
print(list_list_list)
print(f'{list_list_list[0]} -> {type(list_list_list[0])}')
print(f'{list_list_list[0][0]} -> {type(list_list_list[0][0])}')
print(f'{list_list_list[0][0][0]} -> {type(list_list_list[0][0][0])}')

In [ ]:
employee_1, employee_2 = all_employees

print(employee_1)
print(employee_2)

### Slicing

In [ ]:
integer_list

In [ ]:
# slicing

print(integer_list[:])
print(integer_list[1:])
print(integer_list[2:]) # includes the first
print(integer_list[:3]) # Does not include the last

print(integer_list[1:3]) # selects from 1 to 3 index

print(integer_list[:-2])
print(integer_list[-1:]) # It doesn't make sense, but it works

In [ ]:
integer_list = [1, 2, 3, 10, 15, 20, 40]
print(integer_list)
print(integer_list[::2]) # list[start:end:steps]
print(integer_list[1::2])
print(integer_list[1:4:2])
print(integer_list[1::3])

### List methods

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list)
print(list[4])
list[4] = 55
print(list[4])
print(list)

In [ ]:
# Index, Salary, Name, Are you an Employee?
all_employees = [[1, 2.0, 'string', True],
                       [2, 1000, 'lucas', True]]

print(all_employees)
employee_1 = all_employees[0]
employee_1[2] = 'so and so'
print(all_employees)

In [ ]:
repetition_number = 4

print(repetition_number)
auxiliary = repetition_number
auxiliary = 10
print(repetition_number)

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list)
list.append(11)
print(list)

There are several other list functions/methods that you will see in the next module, such as:

- append
- insert
- remove
- pop
- sorted
- count
- reverse
- index
- max, min, len

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list)
list.insert(3, 3.1) # (index, object)
list.insert(20, 11)
list.insert(19, 12)
list.insert(11, 'hello')
list.insert(11, [2, 3, 4])
print(list)

In [ ]:
# remove the first element, not the index
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2, 'lucas']
print(auxiliary_list)

auxiliary_list.remove(1) # removes the element
auxiliary_list.remove(1)
auxiliary_list.remove(5)
auxiliary_list.remove('lucas')
print(auxiliary_list)

In [ ]:
list_numbers = []
counter = 0

while counter < 10:
   element = input('Enter a number: ')

   list_numbers.append(element)
   counter += 1

max(list_numbers)

In [ ]:
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2]

print(f'{auxiliary_list} -> {auxiliary_list[0]}')
auxiliary_list.pop() # empty, removes the last element
auxiliar_list.pop(1) # remove the index
auxiliar_list.pop(0) # remove the index
# auxiliar_list.pop(10) -> error due to being outside the list limit
print(f'{auxiliary_list} -> {auxiliary_list[0]}')

In [ ]:
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2]

print(auxiliary_list)
ordered_auxiliary_list = sorted(auxiliary_list)
print(auxiliary_list)
print(ordered_auxiliary_list)

In [ ]:
mixed_list = [1, 2.0, 'string', True, []]

# Does not work
sorted(mixed_list)

In [ ]:
character_list = ['b', 'a', '1', 'c']
word_list = ['Lucas', 'Angelica', 'Araceli']

print(sorted(character_list))
print(sorted(word_list))
print(sorted(word_list, reverse=True))
word_list.reverse()
print(word_list)

In [ ]:
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2]

print('Number of numbers 1: ', auxiliary_list.count(1))
print('Number of numbers 5: ', auxiliary_list.count(5))

In [ ]:
# Returns the index of the first appearance
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2]

auxiliary_list.index(6) # index(element)
# auxiliary_list.index(7) -> error due to not having the element

In [ ]:
auxiliary_list = [1, 2, 3, 4, 5, 6, 6, 1, 1, 2]

print(max(auxiliary_list))
print(min(auxiliary_list))
print(len(auxiliary_list))
print(sum(auxiliary_list))

In [ ]:
help(max)

### List iterations

In [ ]:
largest_number = sorted(auxiliary_list)[-1]
smallest_number = sorted(auxiliary_list)[0]

print(largest_number)
print(smallest_number)

In [ ]:
#0, 1, 2, 3, 4
numbers = [1, 3, 6, 7, 9]
counter = 0

# len(numbers) = 5
while counter < len(numbers):
   print('List: ', numbers[counter])
   print('Counter: ', counter)

   counter += 2

In [ ]:
# for loop
# for value in list
all_numbers = [1, 3, 6, 7, 9]

# for the number in all numbers, do
for number in all_numbers:
   print('Number:', number)

print('--' * 10)
for number in all_numbers[::2]:
   print('Number:', number)

In [ ]:
# Generator function, goes step by step
print(list(range(10)))

for number in range(10):
   print(number)

range(len(auxiliary_list))


#### List concatenation

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 4, 4]

list_list = [list_1, list_2]
print(list_list)

#lista_1.append(lista_2)
# print(lista_1)

concatenated_list = list_1 + list_2
print(list_1)
print(list_2)
print(concatenated_list)
print(type(concatenated_list))

In [ ]:
print(list(range(5)))
print(list(range(5, 10)))
print(list(range(5, 10, 2)))

In [ ]:
# Does not add to the list
list_1 + 2

In [ ]:
# EXTRA EXTRA
print(list(enumerate(list_1)))

for index, value in enumerate(list_1):
   print('Index: ', index)
   print('Value:', value)

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 4, 4]

print(list(zip(list_1, list_2)))

#### Ways to scroll through a list

**1. Using while**
- **Pros:** I not only know the element but I know the index too
- **Con:** I need to control the index

```python
numbers = [1, 3, 5, 7, 9]
counter = 0
while (counter < len(numbers)):
     print(numbers[counter])
     counter = counter + 1 If I forget this line
```
<br>

**two. Intermediate way: for in range**
- **Pros:** I know the index, I don't need to control the loop
- **Con:** You need to know how to use the range function

```python
numbers = [1, 3, 5, 7, 9]
for index in range(len(numbers)): # range(5) -> [0, 1, 2, 3, 4]
     print(numbers[index])
```
<br>

**3. Using only for**
- **Pros:** I don't need to worry about the index
- **Con:** I don't know the index

```python
numbers = [1, 3, 5, 7, 9]

for number in numbers: number is a kind of temporary variable
     print(number)
```

### Let's Practice!

1. Create any list and write a program that prints each element in the list using for.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'apricot', 'raspberry']

for fruit in fruits:
     print(fruit)

2. Write a program that prints all items in a list using while and compare with exercise 1.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'apricot', 'raspberry']

i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

3. Write a program that asks the user to enter a number n and prints a list of all numbers from 0 to n-1.

In [ ]:
n = int(input("Number: "))

list = list(range(n))
print(list)

4. Write a program that looks at all the items in a list and tells you how many of them are even.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_qty = 0
for number in numbers:
     if number % 2 == 0:
         even_qty += 1

print("The list has", even_qty, "even numbers.")

5. Write a program that prints the largest number in a list, without using the max() method.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

largest_number = numbers[0]
for number in numbers:
     if number > largest_number:
         largest_number = number

print("The largest number in the list is", largest_number)

6. Now using the max() method, write a program that prints the three largest numbers in a list.

In [ ]:
numbers = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10] # Your list of numbers

biggest1 = biggest2 = biggest3 = float('-inf')

for num in numbers:
    if num > biggest1:
        biggest3 = biggest2
        biggest2 = biggest1
        biggest1 = number
    elif num > biggest2:
        biggest3 = biggest2
        biggest2 = number
    elif num > biggest3:
        biggest3 = number

print("The three largest numbers are:", biggest1, biggest2, biggest3)

7. Write a program that, given two lists of the same size, creates a new list with each element equal to the sum of the elements in list 1 and those in list 2, in the same position.

In [ ]:
evens = [2, 4, 6, 8, 10]
odds = [1, 3, 5, 7, 9]

if len(evens) != len(odds):
     print("The lists must be the same size.")
else:
     sum_list = []
     for i in range(len(evens)):
         sum_list.append(evens[i] + odds[i])

     print("The new list is:", sum_list)

8. Write a program that, given two lists of the same size, prints the dot product between them.

In [ ]:
evens = [2, 4, 6, 8, 10]
odds = [1, 3, 5, 7, 9]

if len(evens) != len(odds):
     print("The lists must be the same size.")
else:
     scalar_product = 0
     for i in range(len(evens)):
         scalar_product += evens[i] * odds[i]

     print("The scalar product is:", scalar_product)

9. Write a program that asks the user to enter 5 numbers and, at the end, prints a list with the 5 numbers entered by the user (without converting the numbers to int or float).

In [ ]:
numbers = []

for i in range(5):
     number = input("Enter the number " + str(i + 1) + ": ")
     numbers.append(number)

print("The numbers you entered are:", numbers)

10. Take the list generated in the previous exercise and transform each of the items in that list into a float.

In [ ]:
numbers = ['1', '2', '3', '4', '5']

float_numbers = []

for number in numbers:
     float_numbers.append(float(number))

print("The numbers as floats are:", float_numbers)

11. Make a Program that asks for the 4 bimonthly grades and shows the average, using lists.

In [ ]:
grades = []

for i in range(1, 5):
    grade = float(input(f"Enter the {i}th bimonthly grade: "))
    grades.append(grade)

avg = sum(grades) / len(grades)
print(f"The average of the grades is: {avg}")